.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid black;
    height: 200px;
  }
  .div2 { 
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid black;
    
   }
  .div3 { grid-area: 3 / 1 / 4 / 2;
    border: 1px solid black; }
  .div4 { grid-area: 4 / 1 / 5 / 2;
    border: 1px solid black; }
  .div5 { grid-area: 1 / 2 / 5 / 3;
    border: 1px solid black; }