@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eaeaea;
}



.header {
  display: flex;
	padding: 20px;
}

.wrapper .header {
  background: #006eff;
}

.file {
  z-index: 1;

  position: relative;
  display: inline-block;

  padding: 0 20px;

  background-color: var(--amaranth-purple);
  border: 1px solid var(--jazzberry-jam);
  border-bottom-width: 3px;

  outline: none;
  cursor: pointer;
}

.wrapper .title {
  padding: 50px 0;
	

  text-align: center;
  font-weight: 700;
  font-size: 32px;

  color: #fff;
}

.wrapper .search_box {
  color: white;

	font-size: x-large;

	outline: none;
	
	border-radius: 0;
	border: none;
	border-bottom: 3px solid white;

	padding: 10px 10px 5px 10px;

  width: 100%;
  max-width: 1000px;

  background: #006eff;

  margin: 0 auto;
  border-radius: 3px;
}

.wrapper .search_box input {
  border: 0;
  border-bottom: 2px solid #e5edfa;
  width: 100%;
  outline: none;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

#search_input::placeholder {
  color: white;
}

::placeholder {
  color: darkslategray;
}

.wrapper .search_box input:focus {
  border-bottom: 2px solid #fff;
}

.table_wrap {
  width: 1000px;
  margin: 50px auto 0;
}

.table_wrap ul li .item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px 0;
  height: 50px;
}

.table_wrap ul li .item .name,
.table_wrap ul li .item .phone {
  width: 20%;
  padding: 0 15px;
}

.table_wrap ul li .item .status {
  width: 15%;
  padding: 0 15px;
}

.table_wrap ul li .item .issue {
  width: 45%;
  padding: 0 15px;
}

.table_wrap ul li .item .issue span,
.table_wrap ul li .item .name span {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table_header ul li .item {
  border-bottom: 2px solid #eaeaea;
  font-weight: 600;
}

.table_body {
  height: 300px;
  overflow: auto;
}

.table_body ul li .item {
  border-bottom: 1px solid #efefef;
}

.table_body ul li .item .status span {
  padding: 5px 20px;
  border-radius: 25px;
  max-width: 115px;
  display: inline-block;
}

.table_body ul li .item .open {
  background: #e5edfa;
  color: #5a8ee4;
}

.table_body ul li .item .fixed {
  background: #cff1f0;
  color: #0dbeb6;
}

.table_body ul li .item .closed {
  background: #fedfe5;
  color: #ff89a0;
}

.table_body ul li .item .hold {
  background: #fff0db;
  color: #f59d39;
}

.table_body ul li .item .reopened {
  background: #d6f2ff;
  color: #29a5d8;
}

.table_body ul li .item .canceled {
  background: #ffdbd6;
  color: #e87060;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
:root {
  --eerie-black: #242423;
  --blue-munsell: #0091ad;
  --queen-blue: #3a678f;
  --amaranth-purple: #006eff;
  --jazzberry-jam: #6ea1ff;
}

.hero-main {
  text-align: justify;
}
.hero-side {
  align-self: center;

  padding: 20px;
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

main {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}
.register-wrapper {
  color: var(--eerie-black);
  position: relative;
  z-index: 3;
  padding: 100px;
  resize: none;
}
.register-wrapper p {
  margin-bottom: 1.5em;
}
.register-wrapper form input {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  background: whitesmoke;
  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
  font-size: 1rem;
}
.register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}

.register-wrapper form input[type="email"]:focus,
.register-wrapper form input[type="email"]:active,
.register-wrapper form input[type="password"]:focus,
.register-wrapper form input[type="password"]:active {
  border-color: #ccc;
}

.register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  background-color: var(--amaranth-purple);
  border: 1px solid var(--jazzberry-jam);
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
}

.register-title {
  font-size: 1.6rem;
  padding-bottom: 1.1rem;
  margin: 0 0 1.25rem;
  border-bottom: dashed 1px #e6e6e6;
}
.register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
form > div > span {
  padding-right: 10px;
}

form > div {
  margin-bottom: 20px;
  align-self: center;
}

form > a {
  margin-bottom: 20px;

  align-self: center;

  text-decoration: underline;
  color: var(--blue-munsell);
}

.table-section {
  display: flex;
  justify-content: center;
}

textarea {
  margin-bottom: 20px;

  font-size: 1rem;

  resize: none;

  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;

  background: whitesmoke;
}

textarea::-webkit-input-placeholder {
  padding: 20px;
  font-size: 1rem;
}
