html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

figure {
  padding: 0;
  margin: 0;
}

/* == RESET CSS == */

body {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

.header-wrapper {
  max-width: 1200px;

  margin: 0 auto;

  color: white;
  background-color: rgb(0, 140, 255);
}

.upper-wrapper {
  display: flex;
  align-items: center;

  text-align: center;

  min-height: 50px;
}

.upper-wrapper span {
  display: inline-block;

  font-size: x-large;
  font-weight: bold;

  margin: 0 auto;
}

.header-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 20px;

  min-height: 50px;
}

.logo-holder {
}

.logo {
  height: 40px;
  width: 40px;

  object-fit: contain;
}

.navigation {
}

.nav-ul {
  display: flex;
  flex-direction: row;
}
.navigation-link {
  text-decoration: underline;
  padding: 0 20px;
}

.body-wrapper {
}

.body-inner-wrapper {
  display: flex;
  flex-wrap: wrap;

  max-width: 1000px;
  margin: 0 auto;
}

.body-inner-wrapper > *:nth-child(1) {
  flex: 1 1 75%;
}

.body-inner-wrapper > *:nth-child(2) {
  flex: 1 1 20%;
}
.title {
  padding: 20px 0;
  font-weight: 700;
  font-size: large;
}

.image-holder {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  float: left;
}

.inner-image {
  max-width: 200px;
  padding: 20px 20px 20px 0;

  margin: auto 0;
}

:root {
  --eerie-black: #242423;
  --blue-munsell: #0091ad;
  --queen-blue: #3a678f;
  --amaranth-purple: rgb(0, 140, 255);
  --jazzberry-jam: #67b6ff;
}

.hero-main {
  text-align: justify;
}
.hero-side {
  align-self: center;

  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

main {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper {
  color: var(--eerie-black);
  position: relative;
  z-index: 3;
  padding: 100px;
}
.register-wrapper p {
  margin-bottom: 1.5em;
}
.register-wrapper form input {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  background: whitesmoke;
  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
  font-size: 1rem;
}
.register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}

.register-wrapper form input[type="email"]:focus,
.register-wrapper form input[type="email"]:active,
.register-wrapper form input[type="password"]:focus,
.register-wrapper form input[type="password"]:active {
  border-color: #ccc;
}

.register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  background-color: var(--amaranth-purple);
  background-size: 20px 20px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  border: 1px solid var(--jazzberry-jam);
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.register-wrapper form input[type="submit"]:hover {
  background-size: 40px 40px;
}
.register-title {
  font-size: 1.6rem;
  padding-bottom: 1.1rem;
  margin: 0 0 1.25rem;
  border-bottom: dashed 1px #e6e6e6;
}
.register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
form > div > span {
  padding-right: 10px;
}

form > div {
  margin-bottom: 20px;
  align-self: center;
}

form > a {
  margin-bottom: 20px;

  align-self: center;

  text-decoration: underline;
  color: var(--blue-munsell);
}

.table-section {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  color: white;
  padding: 30px;
  border: 1px solid #dcdcdc;
  text-align: center;
}

table {
  border-collapse: collapse;
  overflow: auto;
  font-family: "Ubuntu", "Verdana", "Arial", sans-serif;
}

tbody {
  background-color: var(--queen-blue);
}

tr:hover {
  background-color: lightseagreen;
}

tr.upper-heading {
  vertical-align: middle;
  text-align: center;

  font-size: larger;
}

tr.main-heading {
  line-height: 10%;
  background-color: var(--amaranth-purple);
  color: white;
}

tr.upper-heading {
  line-height: 10%;
  background-color: var(--amaranth-purple);
  color: white;
  font-weight: 700;
}

tr.sub-heading {
  line-height: 150%;
  background-color: var(--jazzberry-jam);
  color: white;
}

tfoot {
  color: white;
}

tr.buy-now-footer {
  line-height: 150%;
  background-color: var(--amaranth-purple);
  font-weight: bold;
  font-size: 20px;
}

.footer-wrapper {
  margin-top: 25px;

  background-color: var(--amaranth-purple);
  color: white;
}

.footer-inner-wrapper {
  display: flex;
  text-align: center;

  min-height: 50px;

  justify-content: center;
  align-items: center;
}
